
.container{
    display: flex;
    height:40vh;
    padding:30px;
    text-align:left;
    position:relative;
}

.content{
    position:absolute;
    padding:0 50px;
    left:50px;
    line-height: 1.5;
}
.heading{
    
    margin-top:20px;
    font-weight: normal;
    color:black;
}



.red{
    color:red;
}

@media screen and (max-width:1000px){
    .content{
        /* left:20px; */
        padding:0;
    }
    .container{
        padding:30px 0 20px 20px;
    }

    h1{
        font-size:25px;
        padding: 0;
        margin:0;
    }
    .para{
        font-size: 20px;
    }


}