
.container{
    width:100vw;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
  }

  .left{
    width:40%;
    background-color: whitesmoke;

  }

  .row{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    border-bottom: 1px solid grey;
  }

  .score{
    flex:1;
    padding-right: 80px;
    text-align: right;
  }

  .scorein{
    flex:1;
    align-self: center;
    color:rgb(65, 60, 60);
  }

  h1{
    font-size: 60px;
    font-weight: normal;
    color:#eb7373;
  }


  .right{
    width:60%;
    background-color: #212529;
    justify-content: center;
    padding:150px 50px;
    
}
.main{
      color:rgb(225, 216, 216);
    padding:40px;
    line-height: 2;
  }

  h2{
    font-weight: normal;
  }

  span{
    color:#eb7373;
  }




  @media screen and (max-width:1000px){
    .container{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width:100%;
        justify-content: center;
    }
    .main{
        text-align: center;
        padding:30px 10px;
    }
    .right{
        padding:70px 50px
    }
    .main img{
        width:30px;
        height:30px;
    }
    
  }