.nav {
  position: fixed; /* Change to 'fixed' for sticky behavior */
  width: 100%;
  top: 20px; /* Stick to the top of the viewport */
  /* background-color: antiquewhite; */
  padding: 20px; /* Adjust the padding as needed */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px; */
}

.icon {
  position: absolute;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
}

.icon img{
  width:200px;
  height: 40px;
}
.openbtn {
  position: absolute;
  right: 30px;
  color:black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  padding-top: 60px;
}

.sidenav.open {
  width: 500px;
  text-align: right;
  padding: 100px;
  line-height: 2;
  border-left: 1px solid black;
}

.link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s ease-in-out;
  will-change: auto;
}

.link:hover {
  color: red;
}

.closebtn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 35px;
  margin-left: 60px;
  cursor: pointer;
  color: grey;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.openbtn:hover {
  color: red;
}

.footer {
  position: fixed;
  text-align: center;
  /* bottom: 5px; */
}
.footer img {
  height: 50px;
  width: 50px;
  /* background-color: #818181; */
  transition: filter 0.3s ease-in-out;
  filter: grayscale(100%);
  cursor: pointer;
}

.twitter,
.instagram,
.linkedin,
.facebook {
  padding: 10px;
}


.footer:hover img{
  transform: scale(1.2);
  filter:none;
}
@media screen and (max-width: 700px) {

  .sidenav.open {
    width: 100vw;
    text-align: center;
    /* padding-top: 50px; */
  }
  .link {
    font-size: 18px;
  }

  .link {
    font-size: 25px;
  }

  .footer p {
    text-align: center;
  }
}

@media screen and (min-height: 450px) {
  .icon {
    text-align: right;
  }

}
